<p id="notice"><%= notice %></p>
  <div class="table-responsive" align="center">
    <h1>Cadastros</h1>
    <center>
      <%= form_tag(cadastros_path, method: :get) do %>
        <%= text_field_tag 'search', nil, placeholder: 'Digite o Código do Cliente' %>
        <%= submit_tag "Buscar"%>
      <% end %>
    </center>
    <br>
    <table class="table-striped">
      <tr  height="20">
        <th width="150"><p>Id cliente coelce</p></th>            
        <th width="150"><p>Codigo ocorrencia</th>            
        <th width="150"><p>Valor</th>
        <th width="150"><p>Parcelas</th>                  
      </tr>       
        <% @cadastros.each do |cadastro| %>
        <tr height="25">
          <td align=center><%= cadastro.id_cliente_coelce %></td>              
          <td align="center"><%= cadastro.codigo_ocorrencia %></td>              
          <td align="center"><%= cadastro.valor %></td>
          <td align="center"><%= cadastro.parcelas %></td>  
          <td align="center">
            <div>
              <td><%= link_to 'Show', cadastro, class: 'btn btn-sm btn-default' %></td>
              <td><%= link_to 'Edit', edit_cadastro_path(cadastro), class: 'btn btn-sm btn-default' %></td>
              <td><%= link_to 'Destroy', cadastro, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-sm btn-default'%></td>
            </div>
          </td>        
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar', new_cadastro_path, class: 'btn btn-sm btn-default' %>
